$main-container: 1170px;
$black_color: #232f3e;
$dark_blue_color: #3679b6;
$light_blue_color: #00bcd4;
$text_color: #212121;
$light_grey_color: #999;
$border_color: #f0efef;
$open-sans: 'Open Sans',sans-serif;
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

body {
    font-family: $open-sans;
    font-size: 14px;
    color: $text_color;
    background-color: #f8f8f8;
}

a {
    outline: none;
    text-decoration: none;
}

a:hover {
    transition: .2s linear;
    -webkit-transition: .2s linear;
    text-decoration: none;
}

.container {
    width: $main-container;
    margin: 0 auto;
}

.hide {
    display: none;
}

.back_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    a {
        background-color: rgba(15, 20, 25, 0.7);
        padding: 15px 15px 10px;
        color: #fff;
        font-size: 16px;
    }
    a:hover {
        background-color: rgba(15, 20, 25, 0.9);
    }
}

@import "../layouts/login";
@import "../layouts/dashboard";
@import "../layouts/sidebar";

@media (max-width: 1200px) {
    .container {
        max-width: 1170px;
        width: 100%;
    }
}