body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #212121;
  background-color: #f8f8f8; }

a {
  outline: none;
  text-decoration: none; }

a:hover {
  transition: .2s linear;
  -webkit-transition: .2s linear;
  text-decoration: none; }

.container {
  width: 1170px;
  margin: 0 auto; }

.hide {
  display: none; }

.back_top {
  position: fixed;
  bottom: 20px;
  right: 20px; }
  .back_top a {
    background-color: rgba(15, 20, 25, 0.7);
    padding: 15px 15px 10px;
    color: #fff;
    font-size: 16px; }
  .back_top a:hover {
    background-color: rgba(15, 20, 25, 0.9); }

.login_wraper {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #F8F8F8; }

.login_container {
  display: table-cell;
  vertical-align: middle; }

.login_box {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background-color: #fff;
  box-shadow: 0 6px 15px 0 rgba(207, 211, 218, 0.35);
  padding: 20px; }
  .login_box .form-control {
    border-radius: 3px;
    border: 1px solid #e9ecef;
    height: 42px;
    box-shadow: none; }
  .login_box label {
    font-weight: normal; }
  .login_box h3 {
    font-weight: bold; }

.topbar {
  background-color: #263440;
  padding: 10px 0;
  text-align: center; }

.visit-site {
  font-size: 16px;
  color: #fff;
  line-height: 34px; }

.admin-info .btn-default {
  color: #fff;
  background-color: transparent;
  border-color: transparent; }
.admin-info .btn-default.active, .admin-info .btn-default:active, .admin-info .open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: transparent; }
.admin-info .dropdown-menu {
  top: 120%;
  left: 30px;
  border-radius: 0; }

.dashboard-row {
  display: table;
  width: 100%; }

.dashboard-cont {
  display: table-cell;
  width: 85%;
  padding: 20px; }

.change-password-cont {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 30px 0 0; }
  .change-password-cont .form-control {
    border-radius: 0; }

.sidebar {
  display: table-cell;
  width: 15%;
  background-color: #263440;
  color: #fff; }
  .sidebar .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e258";
    float: right;
    color: #fff; }
  .sidebar .panel-heading .accordion-toggle.collapsed:after {
    content: "\e259"; }
  .sidebar .panel-default {
    border-color: transparent; }
    .sidebar .panel-default > .panel-heading {
      color: #fff;
      background-color: transparent;
      border-color: transparent; }
  .sidebar .panel {
    background-color: transparent;
    border: 0px solid transparent;
    box-shadow: none; }
  .sidebar .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent; }
  .sidebar .panel-group .panel-heading + .panel-collapse > .list-group, .sidebar .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0px solid #ddd;
    background-color: #1c2833; }
  .sidebar .panel-body {
    padding: 5px 15px; }
    .sidebar .panel-body ul {
      margin-bottom: 0; }
      .sidebar .panel-body ul a {
        display: block;
        padding: 5px 0;
        color: #fff;
        text-decoration: none; }
        .sidebar .panel-body ul a span {
          margin-right: 5px;
          font-size: 12px; }
  .sidebar .panel-title > a {
    display: block;
    text-decoration: none; }

.dashboard-mainlink a {
  color: #fff;
  text-decoration: none;
  padding: 5px 15px; }

@media (max-width: 1200px) {
  .container {
    max-width: 1170px;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
